body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: url('Background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    max-width: 800px; /* 限制容器的最大宽度 */
    width: 100%; /* 设置容器的宽度为100%，但不超过最大宽度 */
    margin: 20px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.ideas-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* 使列表项在列中居中 */
}

.ideas-list li {
    background: rgba(255, 255, 255, 0.2); /* 半透明背景 */
    border: 1px solid rgba(255, 255, 255, 0.4); /* 半透明边框 */
    margin: 10px; /* 列表项之间的间距 */
    padding: 15px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    width: 800px; /* 固定每个列表项的宽度 */
    box-sizing: border-box;
    text-align: center; /* 文本左对齐 */
}

.ideas-list li:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.idea-item {
    display: flex;
    flex-direction: column;
}

.idea-item h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-decoration: none; /* 取消标题下方的横线 */
}

.idea-item .idea-date {
    font-size: 0.9em;
    color: #fff; /* 字体颜色为白色 */
    margin-bottom: 10px;
    text-decoration: none; /* 取消日期下方的横线 */
}

.idea-item .idea-description {
    font-size: 1em;
    margin-bottom: 0;
    line-height: 1.6;
    text-decoration: none; /* 取消描述下方的横线 */
}

.idea-item .idea-location {
    font-size: 0.9em; /* 可以根据需要调整字体大小 */
    color: #fff; /* 字体颜色为白色 */
    margin-bottom: 10px; /* 根据需要调整外边距 */
    text-decoration: none; /* 取消地点信息下方的横线 */
}

/* 响应式设计 */
@media (max-width: 768px) {
    .ideas-list li {
        width: 100%; /* 在小屏幕上，列表项宽度为100% */
    }

    .idea-item h2 {
        font-size: 1.2em;
    }

    .idea-item .idea-date {
        font-size: 0.8em;
    }

    .idea-item .idea-description {
        font-size: 0.9em;
    }
}