body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: url('Background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px; /* Maximum width of the container */
    padding: 20px;
}

.introduction h1 {
    font-size: 2.5em; /* 40px */
    font-weight: bold;
    margin-bottom: 0.5em;
}

.introduction p {
    font-size: 1em; /* 16px */
    margin-bottom: 0.5em;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px; /* Space between introduction and links */
}

.link-item {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 45%; /* Each link item takes up 45% of the width */
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em; /* 24px */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: background 0.3s ease;
}

.link-item:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .introduction h1 {
        font-size: 2em; /* 32px */
    }

    .introduction p {
        font-size: 0.9em; /* 14px */
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .link-item {
        width: 80%; /* Each link item takes up 80% of the width on small screens */
        margin: 10px 0;
    }
}